* {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*------------------------------- tarjeta de inicio -------------------------------------------*/
  
  #grid__index {
    display: grid;
      grid-template-areas: 
      "headerNav"
      "main"
      "foteer"
      ;
      grid-template-columns: 100%;
      grid-template-rows: auto 1fr auto;
      height: 100vh;
  
  }
  /*---------------------Logo del Nav------------------------*/
  .logo{
    height: 80%;
    display: flex;
  }
  .logo img{
    margin-left: 2rem;
  }



  /* ------------------- NAV DEL INDEX :) ------------------- */
    
  .nav__container {
    background-color: #000000;
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    align-items: center; 
  }
  
  .nav__h1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
    color: rgb(255, 255, 255);
  }
  
  .nav__ul {
    display: flex;
    margin-right: 1rem;
    box-shadow: 0 0px 0px rgba(0,0,0,0.2);
  }
  
  .nav__li {
    display: flex;
   list-style: none;
   padding: 1rem;
   transition: 0.5s;
  }
  
  .nav__li a {
    text-decoration: none;
    font-size: 1rem ;
    color: rgb(255, 255, 255);
    margin: 0rem 0.625rem;
    border-radius: 6px;
    padding: 0.5rem 0.5rem;
    
  }
  .nav__li a:hover {
    background-color: #ffffff;
    transition: 0.5s;
    color: #000;
  }


  .sinCargoHeader__{
    text-align: center;
    background-color: rgb(237, 152, 56, 0.563);
    height: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);

  }
  .sinCargoHeader__ h3{
    font-weight: 500;
    font-size: 1rem;
  }


  /*---------------------Menu Responsive-------------------*/
  .menuResponsive {
    display: none;
  }
  
  /* ------------------- HERO DEL INDEX :) ------------------- */
  
  .hero__container {
    margin:  auto;
    padding: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/hero__Fondo.jpg);
    background-position: center;
    background: cover;
    background-size: 100% ;
    background-repeat: no-repeat ;
    z-index: 3;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 91%, 0 100%, 0% 50%);
  }

  .hero__container::before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top:2;
    left: 0;
    background: rgb(237,188,56);
    background: linear-gradient(177deg, rgb(237, 152, 56, 1) 0%, rgba(88,230,88,0) 69%);
    opacity: 0.4;
    z-index: 1;
  }

  .hero__h3 {
    display: flex;
    font-size: 5rem;
    color: #000;
    text-align: center;
    margin: 3rem 5rem 2rem;
    font-weight: 300; 
    z-index: 2; 
  }

  .hero__p1 {
    font-size: 1rem;
    font-weight: 300;
    font-stretch: expanded;
    z-index: 2;
  }

  .hero__container a{
    position: relative;
  }

  .seccion_{
   width: 100%;
   height: 1999px;
  }

  .boton1 {
    background-color:rgba(15, 14, 10, 1) ;
    margin-top: 80px;
    z-index: 10;
    text-decoration: none;
    padding: 7px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    border-bottom: #ffffff 4px solid;
  }
  .boton1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    font-weight: 300;
  }
  .boton1 h3{
    color: #ffffff;
  }
/*----------------------------Animacion boton COMPRAR hero-------------------*/
  .boton1:hover{
    background-color:rgb(211, 137, 52) ;
    transition: 300ms;

  }










/*--------------------------Section perro y gato :) -----------------------*/

.seccion_{
  width: 100%;
  height: 90vh ;
  margin-bottom: 25rem;
}



.Productos__h3{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: x-large;
    font-weight: 300;
}

.Productos__p1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 25px;
  }

.perro{
  background-image: url(./img/PerroInicio.jpg);
  background-size: 100% 100%;
  width: 50%;
  height: 650px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 4rem;
  margin-left: 10%;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.gato{
  background-image: url(./img/GatoInicio.jpg);
  background-size: 100% 100%;
  width: 50%;
  height: 650px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10%;
  margin-left: 0px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  transition: all 500ms ease-out;
}

.contenedorAnimales{
  display: flex;

}

/*------------------------Div Perro ----------------------*/

.capaP{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0;
  border-radius: 6px;
  background: rgb(237, 152, 56);
  background: linear-gradient(177deg, rgb(237, 152, 56, 0.563) 0%, rgba(88,230,88,0) 69%);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;


}

.capaP h3{
  position: relative;
  height: 250px;
  width: 350px;
  opacity: 1;
  overflow: hidden;
  text-align: center;

}

.perro:hover > .capaP{
  opacity: 1;
  visibility: visible;
}

.perro:hover > .capaP h3{
  margin-top: 50%;
  margin-bottom: 15px;
  transition: all 500ms ease-out;
}

.perro .capaP h3{
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 0;
  transition: all 1s ease-out;
  margin-top: 30px;
}
.a__perro { 
  text-decoration: none;
}



/*------------------------Div Gato-----------------*/

.capaP2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0;
  border-radius: 6px;
  background: rgb(237, 152, 56);
  background: linear-gradient(177deg, rgb(237, 152, 56, 0.563) 0%, rgba(88,230,88,0) 69%);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.capaP2 h3{
  position: relative;
  height: 250px;
  width: 350px;
  overflow: hidden;
}

.gato:hover > .capaP2{
  opacity: 1;
  visibility: visible;
}

.gato:hover > .capaP2 h3{
  margin-top: 50%;
  margin-bottom: 15px;
}

.gato .capaP2 h3{
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 0;
  transition: all 500ms ease-out;
  margin-top: 30px;
}
/*------------section otros---------------------------*/
.otros{
  background-image: url(./img/pez.jpeg);
  background-size: 100% 100%;
  width: 50%;
  height: 50vh;
  border-radius: 6px;
  cursor: pointer;
  margin:1rem auto 5rem;

  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.capaO{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0;
  border-radius: 6px;
  background: rgb(237, 152, 56);
  background: linear-gradient(177deg, rgb(237, 152, 56, 0.563) 0%, rgba(88,230,88,0) 69%);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;


}

.capaO h3{
  position: relative;
  height: 250px;
  width: 350px;
  opacity: 1;
  overflow: hidden;
  text-align: center;

}

.otros:hover > .capaO{
  opacity: 1;
  visibility: visible;
}

.otros:hover > .capaO h3{
  margin-top: 50%;
  margin-bottom: 15px;
  transition: all 500ms ease-out;
}

.otros .capaO h3{
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 120px;
  transition: all 1s ease-out;
  margin-top: 30px;
}
.otros a { 
  text-decoration: none;
}








/* --------------------Envios Pantalla Dividida-------*/

.izquierda{
  background: rgb(237, 152, 56);
  width: 50%;
  height: 80vh;

}

.izquierda h1{
  font-size: 70px;
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 3vh;
}
.izquierda p {
  font-size: 16px;
  line-height: 30px;
  width: 50%;
  margin: auto;
}
.Sistema{
  color: #ffff;
}
.derecha{
  background-image: url(./img/GatitoLengua.jpg);
  background-size: cover;
  background-position: center ;
  width: 50%;
  height: 80vh;
}
.seccionEnvios{
  display: flex;
}
.izquierda a{
  border:  2px solid #ffff;
  padding: 2%;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  margin-top: 10rem;
}

.mapa__boton {
  display: flex;
}



/* --------------------griiidddd perros-------*/
.buton__container-perros {
  display:flex;
  justify-content: space-evenly;
  margin: 1rem auto 5rem ;
}
.boton__opciones {
  border-radius: 3rem;
  background-color: rgba(0, 140, 255, 0);
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.29);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.29);}

.grid_item-perro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.29);
-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.29);
box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.29);
  object-fit: contain;
  border-radius: 1rem
;
}
.productos__h3 {
 text-align: center;
 font-size: 2rem;
 font-weight: 500;
}
.grid_item-perro h3 {
  font-weight: 400;
  margin:5px;
  text-align: center;
}
.grid_item-perro p {
  font-weight: bold;
}
.boton__comprar {
  background: rgb(177,255,181);
background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  width: auto;
  height: auto;
  padding: 0.7rem 1rem;
  border-radius:2rem;
  border:#000 1px solid;
  margin: 1rem;
}
.boton__comprar a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

.imagenes__grid{
  margin: 1rem;
  width: 240px;
  height: 240px;
  object-fit: contain;
  
}


.div__container-perro {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
  grid-auto-rows: minmax(240px, auto);
  gap: 20px;
  margin:2rem;
}

/*-----------------------------------gridgatos_________----------------______*/
.grid_item-gatos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.29);
-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.29);
box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.29);
  object-fit: contain;
  border-radius: 1rem;
}
.grid_item-gatos h3 {
  font-weight: 400;
  margin:5px;
  text-align: center;
}
.grid_item-gatos p {
  font-weight: bold;
}
.boton__comprar {
  background: rgb(177,255,181);
background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  width: auto;
  height: auto;
  padding: 0.7rem 1rem;
  border-radius:2rem;
  border:#000 1px solid;
  margin: 1rem;
}
.boton__comprar a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

.imagenes__grid{
  width: 240px;
  height: 240px;
  object-fit: contain;
  
}


.div__container-gatos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
  grid-auto-rows: minmax(240px, auto);
  gap: 20px;
  margin:2rem;
}
  /*-------------------------Scroll Automático--------------------*/
html {
  scroll-behavior: smooth;
}

/*------------------------Footer Index--------------------------*/

footer {
  width: 100%;
  padding: 50px 0;


}

.container__footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  
}
.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  
}
.box__footer h4 {
  font-size: 1.7rem;
  font-weight: bolder;
}
.box__footer h3{
  font-weight:600;
  margin-bottom: 30px;
}
.box__footer .terms {
  max-width: 350px;
  margin-top: 2rem;
  font-weight: 500;
  color: #7a7a7a;
}
.box__footer p {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}
.box__footer a {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  
}
.box__footer a:hover {
  opacity: 0.8;
}
.box__footer a .fa-brands {
 font-size: 20px;
 color: #7a7a7a ;
 margin-right: 5px;
}

.derechos {
  color: #7a7a7a ;

}

  /*----------------------RESPONSIVE PARA CELULARES--------------------*/
  @media (max-width:375px){
    /*--------------------NAV RESPONSIVE CELULARES---------------------*/
    .menuResponsive{
    display: flex;
    justify-content: flex-end;
    visibility: visible;
    }
    

    .logo{
      height: 80%;
      display: flex;
    }
    .logo img{
      height: 100;
      width: 15%;
      margin-left: 1rem;
    }
  

    .nav__container {
      background-color: #000000;
      display: flex;
      width: 100%;
      height: 4rem;
      justify-content: space-between;
      align-items: center; 
    }
    
    .nav__h1 {
    font-size: 15px;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    }
    
    .nav__ul {
      display: none;
      margin-right: 1rem;
      box-shadow: 0 0px 0px rgba(0,0,0,0.2);
    }
    
    .nav__li {
      display: flex;
     list-style: none;
     padding: 1rem;
     transition: 0.5s;
    }
    
    .nav__li a {
      text-decoration: none;
      font-size: 1rem ;
      color: rgb(255, 255, 255);
      margin: 0rem 0.625rem;
      border-radius: 6px;
      padding: 0.5rem 0.5rem;
      
    }
    .nav__li a:hover {
      background-color: #ffffff;
      transition: 0.5s;
      color: #000;
    }
  
    .fa-solid {
      color: #ffff;
      margin-right: 2vh;
      font-size: 30px;   
     }
  
    .sinCargoHeader__{
      text-align: center;
      background-color: rgb(237, 152, 56, 0.563);
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  
    }
    .sinCargoHeader__ h3{
      font-weight: 500;
      font-size: 1rem;
    }
    /*---------------------HERO RESPONSIVE CELULARES--------------------*/

    .hero__container {
      margin:  auto;
      padding: auto;
      width: 100%;
      height: 80vh;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url(./img/hero__Fondo.jpg);
      background-position: center;
      background: cover;
      background-size: 100% ;
      background-repeat: no-repeat ;
      z-index: 3;
      clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 91%, 0 100%, 0% 50%);
    }
  
    .hero__container::before {
      content: "";
      width: 100%;
      min-height: 100vh;
      position: absolute;
      top:2;
      left: 0;
      background: rgb(237,188,56);
      background: linear-gradient(177deg, rgb(237, 152, 56, 1) 0%, rgba(88,230,88,0) 69%);
      opacity: 0.4;
      z-index: 1;
    }
  
    .hero__h3 {
      display: flex;
      font-size: 25px;
      color: #000;
      text-align: center;
      margin: 3rem 1rem 2rem;
      font-weight: 500; 
      z-index: 2; 
    }
  
    .hero__p1 {
      font-size: 1rem;
      font-weight: 300;
      font-stretch: expanded;
      z-index: 2;
      text-align: center;
    }
  
    .hero__container a{
      position: relative;
      }
  
    .seccion_{
     width: 100%;
     height: 1999px;
    }
  
    .boton1 {
      background-color:rgba(15, 14, 10, 1) ;
      margin-top: 70px;
      z-index: 10;
      text-decoration: none;
      padding: 7px;
      box-shadow: 0 2px 2px rgba(0,0,0,0.2);
      border-bottom: #ffffff 4px solid;
    }
    .boton1 a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      padding: 1rem 2rem;
      font-weight: 300;
    }
    .boton1 h3{
      color: #ffffff;


    }
    .boton1:hover{
    background-color:rgb(211, 137, 52) ;
      transition: 300ms;
    
    }




    /*------------------------SECCION PERRO Y GATO RESPONSIVE----------------------*/

    .seccion_{
      width: 100%;
      height: 60vh ;
      margin-bottom: 25rem;
    }
    
    
    
    .Productos__h3{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-size: x-large;
        font-weight: 300;
    }
    
    .Productos__p1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 0px;
      margin-bottom: 25px;
      }
    
    .perro{
      background-image: url(./img/PerroInicio.jpg);
      background-size: 100% 100%;
      width: 42%;
      height: 185px;
      border-radius: 6px;
      cursor: pointer;
      margin-right: 1rem;
      margin-left: 6.3%;
      box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    }
    .gato{
        background-image: url(./img/GatoInicio.jpg);
        background-size: 100% 100%;
        width: 42%;
        height: 185px;
        border-radius: 6px;
        cursor: pointer;
        margin-right: 10%;
        margin-left: 0px;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
        transition: all 500ms ease-out;
    }
    
    .contenedorAnimales{

    
    }
    
    /*------------------------Div RESPONSIVE Perro ----------------------*/
    
    .capaP{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 185px;
      top: 0;
      border-radius: 6px;
      background: rgb(237, 152, 56);
      background: linear-gradient(177deg, rgb(237, 152, 56, 0.563) 0%, rgba(88,230,88,0) 69%);
      transition: all 500ms ease-out;
      opacity: 0;
      visibility: hidden;
      text-align: center;
    }
    
    .capaP h3{
      position: relative;
      height: 250px;
      width: 350px;
      opacity: 1;
      overflow: hidden;
      text-align: center;
    
    }
    
    .perro:hover > .capaP{
      opacity: 1;
      visibility: visible;
      justify-content: center;
    }
    
    .perro:hover > .capaP h3{
      margin-top: 50%;
      margin-bottom: 15px;
      transition: all 500ms ease-out;
    }
    
    .perro .capaP h3{
      color: rgb(0, 0, 0);
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 0;
      transition: all 1s ease-out;
      margin-top: 30px;
    }
    .a__perro { 
      text-decoration: none;
    }
    
    .capaP .a__perro a {
      width: 100%;
      height: 185px;
    }
    
    
    /*------------------------Div RESPONSIVE Gato-----------------*/
    
    .capaP2{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      top: 0;
      border-radius: 6px;
      background: rgb(237, 152, 56);
      background: linear-gradient(177deg, rgb(237, 152, 56, 0.563) 0%, rgba(88,230,88,0) 69%);
      transition: all 500ms ease-out;
      opacity: 0;
      visibility: hidden;
      text-align: center;
    }
    
    .capaP2 h3{
      position: relative;
      height: 250px;
      width: 350px;
      overflow: hidden;
    }
    
    .gato:hover > .capaP2{
      opacity: 1;
      visibility: visible;
    }
    
    .gato:hover > .capaP2 h3{
      margin-top: 50%;
      margin-bottom: 15px;
    }
    
    .gato .capaP2 h3{
      color: rgb(0, 0, 0);
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 0;
      transition: all 500ms ease-out;
      margin-top: 30px;
    }


  }



  /*------------------------------------------Productos Gatos------------------------------*/

  .Alimento__h1{
    margin-top: 7%;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 150px ;

  }